/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/laravels.conf
storage/*.pid
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

# IDE
/.idea
/.vscode

# Test
app/Http/Controllers/TestController.php

# Key
docker/push/*.pem
docker/push/*.tmp
docker/push/*.bak

# 辅助文件
.DS_Store
.phpstorm.meta.php
_ide_helper.php